/* css */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; Import Bootstrap */

/* Custom styles */
.list {
    list-style-type: none;
    padding: 0;
}

h1{
    text-align: center;
    color: green;
    font-size: 50px;
    font-weight: bold;
    text-transform: capitalize;
    margin:10px 0 10px 30px ;
}

.item {

    /* height: 300px;
    width: 200px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #f8f9fa;
}

.add-to-cart-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart-btn:hover {
    background-color: #218838;
}
